In [16]:
import pandas as pd
df1 = pd.read_csv('https://blueprintdata2020.s3-us-west-1.amazonaws.com/DataSet1.csv')

In [18]:
import pandas as pd


df1['Month'] = pd.to_datetime(df1['date_range_start'])

# You can format your date as you wish
df1['Month'] = df1['Month'].dt.strftime('%b')

In [20]:
df1.tail()

,county,device_count,distance_traveled_from_home,completely_home_device_count,median_home_dwell_time,part_time_work_behavior_devices,full_time_work_behavior_devices,delivery_behavior_devices,median_non_home_dwell_time,candidate_device_count,median_percentage_time_home,date_range_start,date_range_end,county_name,state,state_name,Month
884001,72151,17.0,1193.0,5.0,657.0,1.0,1.0,1.0,37.0,36.0,94.0,2020-09-30,2020-10-01,NaN,72,NaN,Sep
884002,72153,18.0,1598.0,5.5,623.5,1.0,1.0,1.0,55.0,33.0,94.0,2020-09-30,2020-10-01,NaN,72,NaN,Sep
884003,78010,20.0,1419.0,7.0,529.0,1.0,1.0,1.0,64.0,46.0,85.0,2020-09-30,2020-10-01,NaN,78,NaN,Sep
884004,78020,14.0,1702.0,1.0,361.0,1.0,1.0,1.0,187.0,19.0,61.0,2020-09-30,2020-10-01,NaN,78,NaN,Sep
884005,78030,20.0,854.5,4.5,472.0,1.0,1.0,1.0,111.5,43.0,77.5,2020-09-30,2020-10-01,NaN,78,NaN,Sep

In [17]:
df1.head()

,county,device_count,distance_traveled_from_home,completely_home_device_count,median_home_dwell_time,part_time_work_behavior_devices,full_time_work_behavior_devices,delivery_behavior_devices,median_non_home_dwell_time,candidate_device_count,median_percentage_time_home,date_range_start,date_range_end,county_name,state,state_name
0,1001,122.0,9227.5,34.0,933.0,11.5,4.0,3.0,82.5,196.0,88.5,2020-01-01,2020-01-02,Autauga County,1,ALABAMA
1,1003,172.0,9168.0,50.0,887.0,17.0,5.0,2.0,91.0,263.0,89.0,2020-01-01,2020-01-02,Baldwin County,1,ALABAMA
2,1005,61.0,7269.0,15.0,771.0,5.0,1.0,1.0,121.0,117.0,86.0,2020-01-01,2020-01-02,Barbour County,1,ALABAMA
3,1007,103.0,10470.0,29.0,933.0,8.0,2.0,3.0,89.0,178.0,89.0,2020-01-01,2020-01-02,Bibb County,1,ALABAMA
4,1009,151.0,10623.0,46.0,961.0,14.0,4.0,2.0,96.0,218.0,89.0,2020-01-01,2020-01-02,Blount County,1,ALABAMA

In [13]:
def fill_missing(series, limit):
    series = series.astype('str')
    series = ['0' + i if len(i) < limit else i for i in series]
    return series
df1['county'] = fill_missing(df1['county'], 5)

In [14]:
df1['state'] = [str(i)[0:2] for i in df1['county']]

In [5]:
df1.isnull().sum()

county                                 0
device_count                           0
distance_traveled_from_home            2
completely_home_device_count           0
median_home_dwell_time                 0
part_time_work_behavior_devices        0
full_time_work_behavior_devices        0
delivery_behavior_devices              0
median_non_home_dwell_time             0
candidate_device_count                 0
median_percentage_time_home            0
date_range_start                       0
date_range_end                         0
county_name                        25784
state                                  0
state_name                         23318
dtype: int64

In [15]:
import calendar
df1['Month'] = list(pd.DatetimeIndex(df1['date_range_start']).month)
df1['Month'] = df1['Month'].apply(lambda x: calendar.month_abbr[x])

In [21]:
len(df1)

884006

In [22]:
len(df5)

NameError: name 'df5' is not defined

In [10]:
df1.head()

,county,device_count,distance_traveled_from_home,completely_home_device_count,median_home_dwell_time,part_time_work_behavior_devices,full_time_work_behavior_devices,delivery_behavior_devices,median_non_home_dwell_time,candidate_device_count,median_percentage_time_home,date_range_start,date_range_end,county_name,state,state_name,Month
0,1001,122.0,9227.5,34.0,933.0,11.5,4.0,3.0,82.5,196.0,88.5,2020-01-01,2020-01-02,Autauga County,1,ALABAMA,Jan
1,1003,172.0,9168.0,50.0,887.0,17.0,5.0,2.0,91.0,263.0,89.0,2020-01-01,2020-01-02,Baldwin County,1,ALABAMA,Jan
2,1005,61.0,7269.0,15.0,771.0,5.0,1.0,1.0,121.0,117.0,86.0,2020-01-01,2020-01-02,Barbour County,1,ALABAMA,Jan
3,1007,103.0,10470.0,29.0,933.0,8.0,2.0,3.0,89.0,178.0,89.0,2020-01-01,2020-01-02,Bibb County,1,ALABAMA,Jan
4,1009,151.0,10623.0,46.0,961.0,14.0,4.0,2.0,96.0,218.0,89.0,2020-01-01,2020-01-02,Blount County,1,ALABAMA,Jan

In [8]:
# from urllib.request import urlopen
# import json
# with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
#     counties = json.load(response)

# import pandas as pd
# # df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
# #                    dtype={"fips": str})

# import plotly.express as px

# fig = px.choropleth_mapbox(df1, geojson=counties, locations='county', color='median_percentage_time_home',
#                            color_continuous_scale="Viridis",
# #                            range_color=(0, 100),
#                            mapbox_style="carto-positron",
#                            zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
#                            opacity=0.5,
#                            animation_frame = 'Month',
#                            animation_group = 'median_percentage_time_home',
#                            labels={'median_percentage_time_home':'% Time Spent At Home'}
#                           )
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0}
# fig.show()

In [9]:
# from urllib.request import urlopen
# import json
# with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
#     counties = json.load(response)

# import pandas as pd
# # df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
# #                    dtype={"fips": str})

# import plotly.express as px

# fig = px.choropleth_mapbox(df1, geojson=counties, locations='county', color='median_percentage_time_home',
#                            color_continuous_scale="Viridis",
# #                            range_color=(0, 100),
#                            mapbox_style="carto-positron",
#                            zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
#                            opacity=0.5,
#                            animation_frame = 'Month',
#                            animation_group = 'median_percentage_time_home',
#                            labels={'median_percentage_time_home':'% Time Spent At Home'}
#                           )
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.show()

In [10]:
df3 = pd.read_csv('https://blueprintdata2020.s3-us-west-1.amazonaws.com/DataSet3.csv')
df3.head(n=200)

,fips,county,state,npi,start_date,end_date,citation,note,re-opening_note,re-opening_citation
0,1,NaN,Alabama,closing_of_public_venues,3/28/2020,5/11/2020,http://www.alabamapublichealth.gov/news/2020/0...,3/19/20 order only for restaurants to do take ...,NaN,NaN
1,1,NaN,Alabama,gathering_size_10_0,3/28/2020,5/11/2020,http://www.alabamapublichealth.gov/news/2020/0...,max 10 people permitted if maintain 6 feet,NaN,NaN
2,1,NaN,Alabama,gathering_size_100_26,3/16/2020,NaN,http://www.alabamapublichealth.gov/news/2020/0...,*max 50 people,NaN,NaN
3,1,NaN,Alabama,gathering_size_25_11,3/19/2020,NaN,http://www.alabamapublichealth.gov/news/2020/0...,NaN,NaN,NaN
4,1,NaN,Alabama,gathering_size_500_101,3/13/2020,NaN,http://www.alabamapublichealth.gov/news/2020/0...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
195,46,NaN,South Dakota,school closure,3/16/2020,NaN,NaN,Status between March 24 and April 6 is unclear...,NaN,NaN
196,46,NaN,South Dakota,shelter_in_place,NaN,NaN,NaN,NaN,NaN,NaN
197,46,NaN,South Dakota,social_distancing,3/23/2020,NaN,https://sdsos.gov/generalinformation/executive...,order dedicated space to following CDC social ...,NaN,NaN
198,4,NaN,Arizona,closing_of_public_venues,3/31/2020,5/15/2020,https://azgovernor.gov/governor/news/2020/03/s...,NaN,NaN,NaN
199,4,NaN,Arizona,gathering_size_10_0,3/17/2020,NaN,NaN,NaN,NaN,NaN

In [11]:
df6 = pd.read_csv('https://blueprintdata2020.s3-us-west-1.amazonaws.com/state_strictness.csv')
df6.head()

        state  strictness_score
0     Alabama                24
1      Alaska                23
2     Arizona                26
3    Arkansas                26
4  California                25

In [12]:
df4 = pd.read_csv('https://blueprintdata2020.s3-us-west-1.amazonaws.com/DataSet4.csv')

In [23]:
df5 = pd.read_csv('https://blueprintdata2020.s3-us-west-1.amazonaws.com/DataSet5.csv')

In [24]:
len(df5)

21810

In [14]:
df5.head()

  month     county           state  fips_x  fips_y       cases    deaths
0   Apr  Abbeville  South Carolina   45001      45   14.333333  0.000000
1   Apr     Acadia       Louisiana   22001      22  102.200000  5.200000
2   Apr   Accomack        Virginia   51001      51   62.666667  0.933333
3   Apr        Ada           Idaho   16001      16  539.233333  9.133333
4   Apr      Adair            Iowa   19001      19    1.000000  0.000000

In [16]:
df5 = df5.dropna()

In [17]:
df5['fips_x'] = df5['fips_x'].astype("int")

In [18]:
df5['fips_x'] = df5['fips_x'].astype("str")

In [19]:
df5['fips_y'] = df5['fips_y'].astype("str")

In [20]:
type(df5.fips_y[0])

str

In [21]:
def fill_missing(series, limit):
    series = series.astype('str')
    series = ['0' + i if len(i) < limit else i for i in series]
    return series
df5['fips_x'] = fill_missing(df5['fips_x'], 5)
df5['fips_y'] = fill_missing(df5['fips_y'], 2)

In [22]:
df5.head()

  month     county           state fips_x fips_y       cases    deaths
0   Apr  Abbeville  South Carolina  45001     45   14.333333  0.000000
1   Apr     Acadia       Louisiana  22001     22  102.200000  5.200000
2   Apr   Accomack        Virginia  51001     51   62.666667  0.933333
3   Apr        Ada           Idaho  16001     16  539.233333  9.133333
4   Apr      Adair            Iowa  19001     19    1.000000  0.000000

In [25]:
from urllib.request import urlopen
import json
import pandas as pd
import plotly.express as px

with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

pairs = {"Cases" : [df5, 'fips_x', 'cases', 'Inferno_r', 'month', 'cases', '# Cases'],
         "Deaths" : [df5, 'fips_x', 'deaths', 'Inferno_r', 'month', 'deaths', '# Fatalities'],
         "Device Count" : [df1, 'county', 'device_count', 'ice_r','Month',
                                       'device_count', '# Devices'],
         "% Time in Quarantine" : [df1, 'county', 'median_percentage_time_home', 'Viridis','Month',
                                       'median_percentage_time_home', '% Time in Quarantine'],
         "Travel Frequency" : [df1, 'county', 'distance_traveled_from_home', 'BuPu','Month',
                                       'distance_traveled_from_home', 'Distance From Home'],
         
        }

In [24]:
df1.dropna().head()

,county,device_count,distance_traveled_from_home,completely_home_device_count,median_home_dwell_time,part_time_work_behavior_devices,full_time_work_behavior_devices,delivery_behavior_devices,median_non_home_dwell_time,candidate_device_count,median_percentage_time_home,date_range_start,date_range_end,county_name,state,state_name,Month
0,01001,122.0,9227.5,34.0,933.0,11.5,4.0,3.0,82.5,196.0,88.5,2020-01-01,2020-01-02,Autauga County,01,ALABAMA,Jan
1,01003,172.0,9168.0,50.0,887.0,17.0,5.0,2.0,91.0,263.0,89.0,2020-01-01,2020-01-02,Baldwin County,01,ALABAMA,Jan
2,01005,61.0,7269.0,15.0,771.0,5.0,1.0,1.0,121.0,117.0,86.0,2020-01-01,2020-01-02,Barbour County,01,ALABAMA,Jan
3,01007,103.0,10470.0,29.0,933.0,8.0,2.0,3.0,89.0,178.0,89.0,2020-01-01,2020-01-02,Bibb County,01,ALABAMA,Jan
4,01009,151.0,10623.0,46.0,961.0,14.0,4.0,2.0,96.0,218.0,89.0,2020-01-01,2020-01-02,Blount County,01,ALABAMA,Jan

In [25]:
def mapping(user_entry):
    values = pairs[user_entry]
    range_max = int(list(values[0][values[2]].quantile([.98]))[0])
    fig = px.choropleth_mapbox(values[0].dropna(), geojson=counties, locations=values[1], color=values[2],
                           color_continuous_scale=values[3],
                           range_color=(0, range_max),
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           animation_frame = values[4],
                           animation_group = values[5],
                           labels={values[5]:values[6]}
                          )
        
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()

In [3]:
import pandas as pd
demographics = pd.read_csv('https://blueprintdata2020.s3-us-west-1.amazonaws.com/demographics.csv')

In [52]:
demographics.columns

Index(['fibs', 'white', 'black', 'asian', 'hispanic', 'single', 'married',
       'no_insurance', 'one-insurance', 'two_or_more', 'B19001e2', 'B19001e3',
       'B19001e4', 'B19001e5', 'B19001e6', 'B19001e7', 'B19001e8', 'B19001e9',
       'B19001e10', 'B19001e11', 'B19001e12', 'B19001e13', 'B19001e14',
       'B19001e15', 'B19001e16', 'B19001e17', 'date', 'county_name',
       'state_name', 'cases_x', 'deaths_x', 'state', 'cases_y', 'deaths_y',
       '% Single', '% Black', '% Asian', '% White'],
      dtype='object')

In [38]:
demographics['% Black'] = demographics.black / (demographics.black + demographics.asian + demographics.white + demographics.hispanic)

In [39]:
demographics['% Asian'] = demographics.asian / (demographics.black + demographics.asian + demographics.white + demographics.hispanic)

In [40]:
demographics['% White'] = demographics.white / (demographics.black + demographics.asian + demographics.white + demographics.hispanic)

In [41]:
demographics['% Single'] = demographics.single / (demographics.black + demographics.asian + demographics.white + demographics.hispanic)

In [69]:
pairs = {"Cases" : [df5, 'fips_x', 'cases', 'Inferno_r', 'month', 'cases', '# Cases'],
         "Deaths" : [df5, 'fips_x', 'deaths', 'Inferno_r', 'month', 'deaths', '# Fatalities'],
         "Device Count" : [df1, 'county', 'device_count', 'ice_r','Month',
                                       'device_count', '# Devices'],
         "% Time in Quarantine" : [df1, 'county', 'median_percentage_time_home', 'Viridis','Month',
                                       'median_percentage_time_home', '% Time in Quarantine'],
         "Travel Frequency" : [df1, 'county', 'distance_traveled_from_home', 'BuPu','Month',
                                       'distance_traveled_from_home', 'Distance From Home'],
         '% Black' : [demographics, 'fibs', '% Black', 'YlOrRd', 'date', '% Black', 'Proportion Black Residents'],
         '% Asian' : [demographics, 'fibs', '% Asian', 'YlOrRd', 'date', '% Asian', 'Proportion Asian Residents'],
         '% White' : [demographics, 'fibs', '% White', 'YlOrRd', 'date', '% White', 'Proportion White Residents'],
         '% Single' : [demographics, 'fibs', '% Single', 'YlOrRd', 'date', '% Single', 'Proportion Single Residents']

        }

In [77]:
def mapping(user_entry):
    values = pairs[user_entry]
    
    if len(values[0].columns) != 39:
        range_max = int(list(values[0][values[2]].quantile([.98]))[0])
        fig = px.choropleth_mapbox(values[0].dropna(), geojson=counties, locations=values[1], color=values[2],
                               color_continuous_scale=values[3],
                               range_color=(0, range_max),
                               mapbox_style="carto-positron",
                               zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                               opacity=0.5,
                               animation_frame = values[4],
                               animation_group = values[5],
                               labels={values[5]:values[6]}
                              )
    else:
        range_max = int(list(values[0][values[2]].quantile([.98]))[0])
        fig = px.choropleth_mapbox(values[0].dropna(), geojson=counties, locations=values[1], color=values[2],
                               color_continuous_scale=values[3],
                               range_color=(0, range_max),
                               mapbox_style="carto-positron",
                               zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                               opacity=0.5,
                               labels={values[5]:values[6]}
                              )
        
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()